/* CSS custom properties / CSS variables */

:root {
  --teal: #008080;
  --royalblue: #4169e1;
  --violet: #9400d3;
  --green: #008000;
  --magenta: #8b008b;
}

/* Use attribute selectors for the first part of the exercise */

li[class="dog"],
li[class="hedgehog"] {
  color: var(--violet);
}

li[id="cat"] {
  color: var(--teal);
}

li[class="parrot"] {
  color: var(--green);
}

li[class="donkey"],
li[class="cat dog parrot"] {
  color: var(--royalblue);
}

/* Use descendant, child, and sibling selectors for the second part */

/* The class is list-food and I am specifying the color for each element in the class*/
.list-food li:nth-child(1) {
  color: var(--green);
}

.list-food li:nth-child(3) {
  color: var(--royalblue);
}
.list-food li:nth-child(2),
.list-food li:nth-child(4) {
  color: var(--magenta);
}

.list-cleaning ol li {
  color: var(--green);
}
