:root {
  --gold: #ffd700;
}

body {
  color: var(--black);
  margin: 0;
}

body::after {
  content: "";
  display: table;
  clear: both;
}

.header,
.section,
.aside {
  box-sizing: border-box;
  padding: 10px;
  border: 4px solid var(--black);
}

.header {
  background-color: var(--blue);
}

.section {
  float: left;
  width: 75%;
  height: 300px;
  background-color: var(--orange);
}

.aside {
  float: right;
  width: 25%;
  height: 300px;
  background-color: var(--gold);
}
